.option{
  width: auto;
  height: auto;
  display: inline-block;
  padding: 10px;
  box-sizing: border-box;
  background: rgb(24, 26, 38);
  margin: 10px;
  justify-content: center;
  border-radius: 20px ;

}

.option button {
  margin-left: 5px;
  padding: 10px;
  border-radius: 12px;
  border: none;
  font-weight: bold;
  cursor: pointer;
  color: rgb(206, 197, 197);
  background: rgb(24, 26, 38);
}

.active {
  background:  rgb(245, 110, 61) !important ;
  color: black !important;
  pointer-events: none;

}

button:hover {
  background: rgb(28, 30, 44) !important  ;
}
