<div class="contentFoter">
       <div class="logoName">
        <i class="fa-solid fa-hashtag"></i>
        <h4 class="h41">ACME industries ltd.</h4>
        <p class="p1">providing reliable tech since 1992</p>
       </div>
       <div class="textInfo">
         <div class="services">
           <h4 class="h42">Services</h4>
           <p class="p2">branding</p>
           <p class="p2">desing</p>
           <p class="p2">marketing</p>
           <p class="p2">advertisement</p>
         </div>
         <div class="company">
           <h4 class="h42">Company</h4>
           <p class="p2">About us</p>
           <p class="p2">Contact</p>
           <p class="p2">Jobs</p>
           <p class="p2">Press Kit</p>
         </div>
         <div class="legal">
           <h4 class="h42">Legal</h4>
           <p class="p2">Terms of use</p>
           <p class="p2">Privacity Policy</p>
           <p class="p2">Cookie Policy</p>
         </div>
       </div>
     </div>
